*{
    padding: 0px;
    margin: 0px;
    scroll-behavior: smooth;
}

.nav{
   padding: 0px 60px;
   position: fixed;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80px;
    box-shadow: 0px 5px 5px rgba(0,0,0,0.6);
    width: 1250px;
    background-color: white;
    z-index: 999999;
}
.logo img {
    width: 35px;
    height: 35px;
}
.ymen a{
    text-decoration: none;
    color: black;
    padding: 0px 10px;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";;
}
.ymen button{
    border-radius: 30px;
    background-color: white;
    border-color: orange;
    border-style: solid;
    width: 100px;
    height: 35px;
    font-weight: 700;
    cursor: pointer;
}
.contaner{
    width: 70%;
    margin: auto;
}
.footer1{
    display: flex;
    flex-wrap: wrap;
    /* flex-direction: column-reverse; */
    padding-top: 130px;
    align-items: center;
    

}
.shmal1{
    width: 50%;
}
.shmal1 h1{
    font-weight: 700;
    font-size: 48px;
    font-family: 'Jost', sans-serif;
} 
.shmal1 p{
    font-weight: 400px; 
    font-size: 24px;
    color: rgba(32, 32, 32, 0.6);
    padding-top: 20px;
    padding-bottom: 50px;
    font-family: 'Jost', sans-serif;
} 
.ymen2 img {
width: 422px;
height: 405px;
padding-left: 40px;
}
.shmal1 button{
    border-radius: 20px;
    border-style: solid;
    border-color: orange;
    background-color: orange;
    color: white;
    width: 130px;
    height: 45px;
    font-size: 15px;
    font-weight: 700;
    cursor: pointer;
    transition: 0.6s;
}
.shmal1 button:hover{
    border-color: #17a2b8;;
    background-color: #17a2b8;; 
}
.fde{
    width: auto;
    height: 50px;
}
.contaner3{
    /* width: 80%;
    margin: auto; */
}
.footer2{
    width: auto;
    background-color: rgba(243, 245, 250);
display: flex;
flex-wrap: wrap;
justify-content: center;



}


.p1{
    width: 90px;
    height: 90px;
    padding: 1.1em 2.1em;
    margin-left: -10px;
}
.p2{
    width: 90px;
    height: 95px;
    padding: 1.0em 2.5em;
}
.p3{
    width: 90px;
    height: 49px;
    padding: 2.3em 2.5em;
}
.p4{
    width: 90px;
    height: 90px;
    padding: 1.2em 2.5em;
}
.p5{
    width: 90px;
    height: 90px;
    padding: 1.6em 2.5em;
}
.p6{
    width: 90px;
    height: 61px;
    padding: 1.9em 2.5em;
}
.footer2 img{
    filter: grayscale(100);
    transition: all 0.5s;
}
.footer2 img:hover{
    filter: grayscale(0);
    transform: scale(1.2);
}
.title{
    text-align: center;
    padding-top: 185px;
    position: relative;
    padding-bottom: 10px;
    font-family: 'Jost', sans-serif;
    color: rgb(55,81,126);
}
.title::after{
    content: "";
    background-color:#06142068;
    width: 8%;
    height: 2px;
    position: absolute;
    left: 46%;
    bottom: 0%;
}
.title::before{
    content: "";
   background-color:orange;
    width: 4%;
    height: 5px;
    position: absolute;
    left:48%;
    bottom: -0.3%;
    z-index: 1;
}

.footar4{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding-top: 60px;
    justify-content: space-around;

}
.contaner5{
    width: 70%;
    margin: auto;
}
.ymen4{
    width: 45%;
    font-family: 'Jost', sans-serif;
    line-height: 27px;
}
.shmal4 img{
    width: 422px;
    height: 260px;
}
.ymen4 button{
    background-color: white;
    color: orange;
    border: solid;
    border-color: orange;
    border-radius: 5px;
    width: 160px;
    height: 45px;
    font-size: 16px;
    font-weight: 550;
    transition: 0.2s;
    text-align: center;
}
.ymen4 button:hover {
    background-color: orange;
    color: white;
}



.footar3{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding-top: 60px;
    justify-content: space-around;
}
.contaner4{
    width: 70%;
    margin: auto;
}
.shemal3{
    width: 45%;
    font-family: 'Jost', sans-serif;
}
.ymen3{
    width: 45%;
    font-family: 'Jost', sans-serif;
}
.shemal3 p{
    padding: 10px 0px;
    word-spacing: 1px;
    line-height: 25px;
}
.ymen3 p{
    padding: 10px 0px;
    word-spacing: 1px;
    line-height: 25px;
}
.ymen3 button{
    border: solid;
    border-color: orange;
    width: 140px;
    height: 40px;
    background-color: white;
    color: orange;
    border-radius: 5px;
    font-size: 16px;
    transition: 0.2s;
}
.ymen3 button:hover{
    color: white;
    background-color: orange;

}

.title2{
    font-size: 30px;
    font-weight: 600;
    text-align: center;
    padding-top: 185px;
    position: relative;
    padding-bottom: 10px;
    font-family: 'Jost', sans-serif;
    color: rgb(55,81,126);
}
.title2::after{
    content: "";
    background-color:#06142068;
    width: 8%;
    height: 2px;
    position: absolute;
    left: 46%;
    bottom: 0%;
}
.title2::before{
    content: "";
   background-color:orange;
    width: 4%;
    height: 5px;
    position: absolute;
    left:48%;
    bottom: -0.3%;
    z-index: 1;
}
.backg2{
    padding-bottom: 100px ;
}

.title3{
    font-size: 30px;
    font-weight: 600;
    text-align: center;
    padding-top: 105px;
    position: relative;
    padding-bottom: 10px;
    font-family: 'Jost', sans-serif;
    color: rgb(55,81,126);
}
.title3::after{
    content: "";
    background-color:#06142068;
    width: 8%;
    height: 2px;
    position: absolute;
    left: 46%;
    bottom: 0%;
}
.title3::before{
    content: "";
   background-color:orange;
    width: 4%;
    height: 5px;
    position: absolute;
    left:48%;
    bottom: -0.3%;
    z-index: 1;
}
.title4{
    font-size: 30px;
    font-weight: 600;
    text-align: center;
    padding-top: 185px;
    position: relative;
    padding-bottom: 10px;
    font-family: 'Jost', sans-serif;
    color: rgb(55,81,126);
}
.title4::after{
    content: "";
    background-color:#06142068;
    width: 8%;
    height: 2px;
    position: absolute;
    left: 46%;
    bottom: 0%;
}
.title4::before{
    content: "";
   background-color:orange;
    width: 4%;
    height: 5px;
    position: absolute;
    left:48%;
    bottom: -0.3%;
    z-index: 1;
}
.footer5{
    display: flex;
    flex-wrap: wrap;
    padding-top: 50px;
    justify-content: center;
  
}
.footer5 img{
    width: 285px;
    height: 250px;
    padding: 10px 10px;
 transition: 0.4s;
}
.contaner6{
    width: 85%;
    margin: auto;
}
.footer5 img:hover{
    translate: 0px -20px;
}
.contaner7{
    width: 65%;
    margin: auto;
}
.footer6{
    text-align: center;
    font-family: 'Jost', sans-serif;
    line-height: 25px;
    padding: 20px;
    
}
.footer6 img{
    width: 190px;
    height: 185px;
}
.flex{
    padding-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.backg{
    background-color: rgba(243, 245, 250);
    padding-bottom: 40px;
}

.title5{
    font-size: 30px;
    font-weight: 600;
    text-align: center;
    padding-top: 105px;
    position: relative;
    padding-bottom: 10px;
    font-family: 'Jost', sans-serif;
    color: rgb(55,81,126);
}
.title5::after{
    content: "";
    background-color:#06142068;
    width: 8%;
    height: 2px;
    position: absolute;
    left: 46%;
    bottom: 0%;
}
.title5::before{
    content: "";
   background-color:orange;
    width: 4%;
    height: 5px;
    position: absolute;
    left:48%;
    bottom: -0.5%;
    z-index: 1;
}
.contaner8{
    width: 70%;
    margin: auto;
}
.contact p{
    text-align: center;
    padding-top: 25px;
    line-height: 27px;
    font-family: 'Jost', sans-serif;
}
.footer7{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 50px;
}
.footer7 img{
    width: 435px;
    height: 375px;
}
.gdwal{
    width: 435px;
    height: 380px;
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    box-shadow: 0px 0px 20px rgba(32, 32, 32, 0.4);
    align-content: space-around;
    justify-content: space-evenly;
    border-top: 3px solid;
    border-bottom: 3px solid;
border-color: orange;
box-sizing: border-box;
overflow:hidden;


}
.reg{
    font-family: 'Jost', sans-serif;
    padding-bottom: 5%;
}
.textarea{
    resize: vertical;
    
    
}
.but{
    color: white;
    background-color: orange;
    border: solid;
    border-color: orange;
    border-radius: 20px;
    cursor: pointer;
    width: 130px;
    height: 45px;
    font-size: 16px;
}
.inp{
    height: 23px;
}
.contaner9{
    width: 70%;
    margin: auto;
    padding-top: 100px;
    font-family: 'Jost', sans-serif;
    padding-bottom: 5%;
    
} 
.contaner9 button{
    background-color: orange;
    cursor: pointer;
    border-radius: 100px;
    border: none;
}
.w{
    width: 36px;
    height: 36px;
    font-size: 16px;
    margin: 0px 2px;
}
.contaner9 h1{
    color: rgb(55,81,126);
    font-size: 20px;
    padding-bottom: 10px;
}
.contaner9 p{
    padding-bottom: 10px;
}

.end{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    background-color:  rgb(55,81,126);
    color: white;
    height: 250px;
    align-items: center;
    line-height: 27px;
    font-family: 'Jost', sans-serif;
}
.end a{
    color: orange;
    text-decoration:none
   
    
}
.menu{
    display: none;
}

   @media(max-width: 330px){
    .nav{
        height: 100px;
justify-content: space-between;
    }
    .logo img{
        width: 50px;
        height: 50px;
    }
    .menu{
        display: block;
        font-size: 30px;
        position: absolute;
        left: 250px;
    }
    .contaner{
        width: 84%;
        margin: auto;
    }
    .shmal1{
        width:100%;
        text-align: center;
    }
     .footer1{
        flex-direction: column-reverse;
        align-content: center

     }
     .ymen2 img{
        width: 232px;
        height: 223px;
     }
     .shmal1 h1{
        font-weight: 600;
        font-size: 16px;
     }
     .shmal1 p{
        font-size: 16px;
     }
     .title{
        text-align: center;
        padding-top: 185px;
        position: relative;
        padding-bottom: 10px;
        font-family: 'Jost', sans-serif;
        color: rgb(55,81,126);
    }
    .title::after{
        content: "";
        background-color:#06142068;
        width: 20%;
        height: 2px;
        position: absolute;
        left: 40%;
        bottom: 0%;
    }
    .title::before{
        content: "";
       background-color:orange;
        width: 10%;
        height: 5px;
        position: absolute;
        left:45%;
        bottom: -0.3%;
        z-index: 1;
    }
    
    .footar4{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        padding-top: 60px;
        justify-content: space-around;
    
    }
    .contaner5{
        width: 70%;
        margin: auto;
    }
    .ymen4{
        width: 45%;
        font-family: 'Jost', sans-serif;
        line-height: 27px;
        text-align: center;
    }
    .shmal4 img{
        width: 422px;
        height: 260px;
    }
    .ymen4 button{
        background-color: white;
        color: orange;
        border: solid;
        border-color: orange;
        border-radius: 5px;
        width: 160px;
        height: 45px;
        font-size: 16px;
        font-weight: 550;
        transition: 0.2s;
        text-align: center;
    }
    .ymen4 button:hover {
        background-color: orange;
        color: white;
    }
    
    
    
    .footar3{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        padding-top: 60px;
        justify-content: space-around;
    }
    .contaner4{
        width: 70%;
        margin: auto;
    }
    .shemal3{
        width: 45%;
        font-family: 'Jost', sans-serif;
    }
    .ymen3{
        width: 45%;
        font-family: 'Jost', sans-serif;
    }
    .shemal3 p{
        padding: 10px 0px;
        word-spacing: 1px;
        line-height: 25px;
    }
    .ymen3 p{
        padding: 10px 0px;
        word-spacing: 1px;
        line-height: 25px;
    }
    .ymen3 button{
        border: solid;
        border-color: orange;
        width: 140px;
        height: 40px;
        background-color: white;
        color: orange;
        border-radius: 5px;
        font-size: 16px;
        transition: 0.2s;
    }
    .ymen3 button:hover{
        color: white;
        background-color: orange;
    
    }
    
    .title2{
        font-size: 30px;
        font-weight: 600;
        text-align: center;
        padding-top: 185px;
        position: relative;
        padding-bottom: 10px;
        font-family: 'Jost', sans-serif;
        color: rgb(55,81,126);
    }
    .title2::after{
        content: "";
        background-color:#06142068;
        width: 20%;
        height: 2px;
        position: absolute;
        left: 40%;
        bottom: 0%;
    }
    .title2::before{
        content: "";
       background-color:orange;
        width: 10%;
        height: 5px;
        position: absolute;
        left:45%;
        bottom: -0.3%;
        z-index: 1;
    }
    .backg2{
        padding-bottom: 100px ;
    }
    
    .title3{
        font-size: 30px;
        font-weight: 600;
        text-align: center;
        padding-top: 105px;
        position: relative;
        padding-bottom: 10px;
        font-family: 'Jost', sans-serif;
        color: rgb(55,81,126);
    }
    .title3::after{
        content: "";
        background-color:#06142068;
        width: 20%;
        height: 2px;
        position: absolute;
        left: 40%;
        bottom: 0%;
    }
    .title3::before{
        content: "";
       background-color:orange;
        width: 10%;
        height: 5px;
        position: absolute;
        left:45%;
        bottom: -0.3%;
        z-index: 1;
    }
    .title4{
        font-size: 30px;
        font-weight: 600;
        text-align: center;
        padding-top: 185px;
        position: relative;
        padding-bottom: 10px;
        font-family: 'Jost', sans-serif;
        color: rgb(55,81,126);
    }
    .title4::after{
        content: "";
        background-color:#06142068;
        width: 20%;
        height: 2px;
        position: absolute;
        left: 40%;
        bottom: 0%;
    }
    .title4::before{
        content: "";
       background-color:orange;
        width: 10%;
        height: 5px;
        position: absolute;
        left:45%;
        bottom: -0.3%;
        z-index: 1;
    }
    .footer5{
        display: flex;
        flex-wrap: wrap;
        padding-top: 50px;
        justify-content: center;
      
    }
    .footer5 img{
        width: 285px;
        height: 250px;
        padding: 10px 10px;
     transition: 0.4s;
    }
    .contaner6{
        width: 85%;
        margin: auto;
    }
    .footer5 img:hover{
        translate: 0px -20px;
    }
    .contaner7{
        width: 65%;
        margin: auto;
    }
    .footer6{
        text-align: center;
        font-family: 'Jost', sans-serif;
        line-height: 25px;
        padding: 20px;
        
    }
    .footer6 img{
        width: 190px;
        height: 185px;
    }
    .flex{
        padding-top: 20px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    .backg{
        background-color: rgba(243, 245, 250);
        padding-bottom: 40px;
    }
    
    .title5{
        font-size: 30px;
        font-weight: 600;
        text-align: center;
        padding-top: 105px;
        position: relative;
        padding-bottom: 10px;
        font-family: 'Jost', sans-serif;
        color: rgb(55,81,126);
    }
    .title5::after{
        content: "";
        background-color:#06142068;
        width: 20%;
        height: 2px;
        position: absolute;
        left: 40%;
        bottom: 0%;
    }
    .title5::before{
        content: "";
       background-color:orange;
        width: 10%;
        height: 5px;
        position: absolute;
        left:45%;
        bottom: -0.5%;
        z-index: 1;
    }
    .contaner8{
        width: 70%;
        margin: auto;
    }
    .contact p{
        text-align: center;
        padding-top: 25px;
        line-height: 27px;
        font-family: 'Jost', sans-serif;
    }
    .footer7{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding-top: 50px;
    }
    .footer7 img{
        width: 435px;
        height: 375px;
    }
    .gdwal{
        width: 435px;
        height: 380px;
        display: flex;
        flex-wrap: wrap;
        background-color: white;
        box-shadow: 0px 0px 20px rgba(32, 32, 32, 0.4);
        align-content: space-around;
        justify-content: space-evenly;
        border-top: 3px solid;
        border-bottom: 3px solid;
    border-color: orange;
    box-sizing: border-box;
    overflow:hidden;
    
    
    }
    .reg{
        font-family: 'Jost', sans-serif;
        padding-bottom: 5%;
    }
    .textarea{
        resize: vertical;
        
        
    }
    .but{
        color: white;
        background-color: orange;
        border: solid;
        border-color: orange;
        border-radius: 20px;
        cursor: pointer;
        width: 130px;
        height: 45px;
        font-size: 16px;
    }
    .inp{
        height: 23px;
    }
    .contaner9{
        width: 70%;
        margin: auto;
        padding-top: 100px;
        font-family: 'Jost', sans-serif;
        padding-bottom: 5%;
        
    } 
    .contaner9 button{
        background-color: orange;
        cursor: pointer;
        border-radius: 100px;
        border: none;
    }
    .w{
        width: 36px;
        height: 36px;
        font-size: 16px;
        margin: 0px 2px;
    }
    .contaner9 h1{
        color: rgb(55,81,126);
        font-size: 20px;
        padding-bottom: 10px;
    }
    .contaner9 p{
        padding-bottom: 10px;
    }
    
    .end{
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        background-color:  rgb(55,81,126);
        color: white;
        height: 250px;
        align-items: center;
        line-height: 27px;
        font-family: 'Jost', sans-serif;
    }
    .end a{
        color: orange;
        text-decoration:none
       
        
    }
   }
